# Python cache
__pycache__/
*.pyc

# Jupyter temp
.ipynb_checkpoints/

# Package build info
hsikit.egg-info/
dist/
build/

# Virtual environment
hsikit_venv/

# Test file
hsikit/test_development.ipynb